---
import Card from "@components/Card.astro";
import { GAME_RULES } from "@constants";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2 class="text-lg font-medium mb-1">General rules</h2>
  <p class="text-pretty text-sm mb-6">{GAME_RULES.general}</p>
  <Card />
</BaseLayout>
