---
import { SITE_CONFIG } from "@constants";
---

<header class="fixed top-0 right-0 left-0 z-50 bg-neutral-100/75 dark:bg-neutral-900/75 saturate-200 backdrop-blur-xs mx-auto max-w-md p-3">
  <div class="flex flex-wrap items-center gap-x-1 @container">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M7.5 1v14h13"></path>
        <path d="M13.5 10h6"></path>
        <path d="M13.5 20h6"></path>
      </svg>
      <h1 class="text-lg leading-[1.334] font-bold">
        {SITE_CONFIG.title.slice(1)}
      </h1>
    </div>
    <div class="font-light @max-sm:hidden">{SITE_CONFIG.description}</div>
  </div>
</header>
